{% extends "base.html" %}

{% block title %}{{ block.super }} - 我的第一个子网页{% endblock %}
{% block sidebar %}
        <ul>
            <li><a href="/">Home555</a></li>
            <li><a href="/blog/">Blog6666</a></li>
        </ul>
        {% endblock %}
{% block content %}
我的第一个子网页内容页

{% endblock %}